body {
  margin: 24px;
  display: grid;
  place-items: center;
}

.logo {
  margin-bottom: 80px;
}

.logo img {
  width: 100%;
}

.list {
  margin: 0;
  margin-bottom: 48px;
  list-style: none;
  padding-left: 0;
}

.list-element {
  margin-bottom: 32px;
  font-size: 32px;
  font-family: 'Helvetica', sans-serif;
}

.list-element a {
  color: white;
  background-color: #0038FF;
}

.my-photo {
  width: 100%;
}

.content-image img {
  width: 100%;
  max-width: 686px;
  margin-bottom: 20px;
}

.last img {
  margin-bottom: 80px;
}

.content-heading {
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  margin-bottom: 10px;
}

.content-paragraph {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  margin-bottom: 50px;
  width: 100%;
  max-width: 686px;
}

.guide-link {
  color: #000;
  text-decoration-color: #0038FF;
}

.back {
  margin-bottom: 24px;
}

.content-video video {
  width: 100%;
  max-height: 90vh;
  margin-bottom: 20px;
}
